{% load static %}

<footer>

    <div class="socialmedia">
        <div class="intro">
            <img src="{% static 'svg/society.svg' %}" alt="">
            <p>Наши соц. сети</p>
        </div>

        <div class="smedia">
            <img src="{% static 'svg/instagram.svg' %}" alt="">
            <a href="">
                @moviepoisk
            </a>
        </div>

        <div class="smedia">
            <img src="{% static 'svg/facebook.svg' %}" alt="">
            <a href="">
                @moviepoisk
            </a>
        </div>

        <div class="smedia">
            <img src="{% static 'svg/telegram.svg' %}" alt="">
            <a href="">
                t.me/moviepoisk
            </a>
        </div>

    </div>

    
    <div class="support">

        <div class="intro">
            <img src="{% static 'svg/support.svg' %}" alt="">
            <p>Тех. поддержка</p>
        </div>

        <div class="smedia">
            <img src="{% static 'svg/telegram.svg' %}" alt="">
            <a href="">
                @moviepoisk_bot
            </a>
        </div>

        <div class="smedia">
            <img src="{% static 'svg/whatsapp.svg' %}" alt="">
            +996555001122
        </div>

    </div>

</footer>