{% load static %}


<header>

    <div class="left_navbar">
        <nav>
            <a href="{% url 'home' %}">
                <img src="static/svg/home.svg" alt="">
            </a>
            <a href="#">
                <img src="static/svg/blog.svg" alt="">
            </a>
        </nav>
    </div>

    <div class="central_navbar">
        <h1>MOVIEPOISK</h1>
    </div>

    <div class="right_navbar">
        <a href="#">
            <img src="static/svg/about.svg" alt="">
        </a>
        <a href="#">
            <img src="static/svg/personalacc.svg" alt="">
        </a>
    </div>

</header>